/* 메인 비주얼 영역 */
.main-visual-area .swiper-box .swiper .swiper-slide {
    border-radius: 12px;
    overflow: hidden;
}
.main-visual-area .swiper-box .swiper .swiper-pagination {
    bottom: 12px !important;
}
.main-visual-area .swiper-box .swiper .swiper-pagination .swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important; 
    background: rgba(265,265,265,0.6) !important;
    opacity: 1 !important;
    margin: 0 6px !important;
    border-radius: 50% !important;
}
.main-visual-area .swiper-box .swiper .swiper-pagination .swiper-pagination-bullet-active {
    width: 36px !important;
    background: rgba(265,265,265,1) !important;
    border-radius: 999px !important;
}

/* ------------------------------------------------------------------------------- */

/* 로그인 영역 */
.login-area .add-menu-box .line {
    width: 1px;
    height: 12px;
    background: #E0E0E0;
}
.login-area .sns-login-box > h3::before,
.login-area .sns-login-box > h3::after {
    content: "";
    display: block;
    width: 156px;
    height: 1px;
    background: #ccc;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.login-area .sns-login-box > h3::before {
    left: 0;
}
.login-area .sns-login-box > h3::after {
    right: 0;
}

/* 에러 색상 */
.error-class {
    color: red;
    border-color: red;
}
