<html layout:decorate="~{/common/layout}">
<div layout:fragment="content">

    <div class="chat-area bsb w100per rel zi2 pt40">
        <div class="con w100per">
            <div class="chat-box flex">
                <ul class="chat-list-box tab-menu-box-1">
                    <li>
                        <a href="#tab1-1" class="active">
                            <div class="top-box flex aic jcsb">
                                <h3 class="f14 tb c222">홍길동</h3>
                                <span class="f12 c777">25분전</span>
                            </div>
                            <p class="f14 c555 mt12">그렇게 가능하면 그렇게 하시죠!!!</p>
                        </a>
                    </li>
                    <li>
                        <a href="#tab1-2">
                            <div class="top-box flex aic jcsb">
                                <h3 class="f14 tb c222">홍길동</h3>
                                <span class="f12 c777">25분전</span>
                            </div>
                            <p class="f14 c555 mt12">그렇게 가능하면 그렇게 하시죠!!!</p>
                        </a>
                    </li>
                    <li>
                        <a href="#tab1-3">
                            <div class="top-box flex aic jcsb">
                                <h3 class="f14 tb c222">홍길동</h3>
                                <span class="f12 c777">25분전</span>
                            </div>
                            <p class="f14 c555 mt12">그렇게 가능하면 그렇게 하시죠!!!</p>
                        </a>
                    </li>
                    <li>
                        <a href="#tab1-4">
                            <div class="top-box flex aic jcsb">
                                <h3 class="f14 tb c222">홍길동</h3>
                                <span class="f12 c777">25분전</span>
                            </div>
                            <p class="f14 c555 mt12">그렇게 가능하면 그렇게 하시죠!!!</p>
                        </a>
                    </li>
                    <li>
                        <a href="#tab1-5">
                            <div class="top-box flex aic jcsb">
                                <h3 class="f14 tb c222">홍길동</h3>
                                <span class="f12 c777">25분전</span>
                            </div>
                            <p class="f14 c555 mt12">그렇게 가능하면 그렇게 하시죠!!!</p>
                        </a>
                    </li>
                    <li>
                        <a href="#tab1-6">
                            <div class="top-box flex aic jcsb">
                                <h3 class="f14 tb c222">홍길동</h3>
                                <span class="f12 c777">25분전</span>
                            </div>
                            <p class="f14 c555 mt12">그렇게 가능하면 그렇게 하시죠!!!</p>
                        </a>
                    </li>
                </ul>
                <ul class="chat-detail-box tab-cnt-box-1">
                    <li id="tab1-1">
                        <div class="speech-bubble-box rel type-1">
                            <p class="f14 lh140">
                                안녕하세요!<br>
                                구매하고 싶습니다.
                            </p>
                            <span class="date f12 c999 abs wsn">24.01.24 13:20</span>
                        </div>
                        <div class="speech-bubble-box rel type-2">
                            <p class="f14 lh140">
                                네, 구매 가능합니다.
                            </p>
                            <span class="date f12 c999 abs wsn">24.01.24 13:21</span>
                        </div>
                        <div class="speech-bubble-box rel type-2">
                            <p class="f14 lh140">
                                어떤 방식으로 거래 원하시나요?<br>
                                둘 다 가능합니다.
                            </p>
                            <span class="date f12 c999 abs wsn">24.01.24 13:22</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</html>