<html layout:decorate="~{/common/layout}">
<div layout:fragment="content">
    <div class="password-search-result-area login-cnt-area w100per rel zi2">
        <div class="con w100per">
            <h1 class="title-text lh120 tb tac wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="0.6s">비밀번호 찾기</h1>
            <div class="flex fdc wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.6s">
                <ul class="flex fdc g36">
                    <li>
                        <h3 class="c33  3 f18 tb mb16">새로운 비밀번호<span class="tb cCC0000 inblock">*</span></h3>
                        <div class="input-type-1">
                            <input type="password" id="password1" name="password1" class="form-control"
                                   placeholder="비밀번호">
                        </div>
                        <div class="error-text-box wsn flex g8 mt8">
                            <span class="error-text f14 cCC0000">필수 입력 항목 입니다.</span>
                        </div>
                        <div class="input-type-1 mt16">
                            <input type="password" id="password2" name="password2" class="form-control"
                                   placeholder="비밀번호 확인">
                        </div>
                        <div class="error-text-box wsn flex g8 mt8">
                            <span class="error-text f14 cCC0000">필수 입력 항목 입니다.</span>
                            <span class="error-text f14 cCC0000">비밀번호가 일치하지 않습니다.</span>
                            <span class="confirm-text f14 c009521">비밀번호가 일치합니다.</span>
                        </div>
                    </li>
                </ul>
                <button type="submit" class="btn-type-1 mt80">비밀번호 변경</button>
            </div>
        </div>
        </div>
</div>
</html>