<html layout:decorate="~{/common/layout}">
<div layout:fragment="content">

    <div class="product-detail-area bsb w100per rel zi2 pt60">
        <div class="con w100per">
            <div class="product-infor-box-1 flex jcsb g40">
                <div class="product-detail-swiper-box wh100per rel zi1">
                    <div class="product-detail-swiper swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="img-box rel">
                                    <img th:src="@{/img/product_img_1_1.jpg}" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="img-box rel">
                                    <img th:src="@{/img/product_img_2_1.jpg}" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="img-box rel">
                                    <img th:src="@{/img/product_img_3_1.jpg}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="product-text-box">
                    <div class="flex aic jcsb">
                        <ul class="flex g4">
                            <li class="f13 bdr4 bsb pt4 pb4 pl8 pr8 b005DE8 cfff">서울</li>
                            <li class="f13 bdr4 bsb pt4 pb4 pl8 pr8 b00A71B cfff">직거래</li>
                            <li class="f13 bdr4 bsb pt4 pb4 pl8 pr8 b00A71B cfff">택배거래</li>
                        </ul>
                        <ul class="flex aic g16">
                            <li class="flex aic g4">
                                <span class="img-box w20">
                                    <img th:src="@{/img/ico_heart_777.svg}" alt="">
                                </span>
                                <span class="c777 f14">5</span>
                            </li>
                            <li class="flex aic g4">
                                <span class="img-box w20">
                                    <img th:src="@{/img/ico_chat_777.svg}" alt="">
                                </span>
                                <span class="c777 f14">3</span>
                            </li>
                            <li class="flex aic g4">
                                <span class="img-box w20">
                                    <img th:src="@{/img/ico_eye_777.svg}" alt="">
                                </span>
                                <span class="c777 f14">12</span>
                            </li>
                        </ul>
                    </div>
                    <h3 class="c777 f16 mt20">핸드폰</h3>
                    <h1 class="c222 tb f24 lh140 mt8">아이폰13 프로 256GB</h1>
                    <h2 class="c222 tb f32 mt20 flex aib">320,000<span class="tl f24">원</span> </h2>
                    <span class="c222 f16 tm mt20">빵빵이 판매자</span>
                    <p class="f16 c777 lh160 mt20 bsb pt16 pr16 pb16 pl16" style="border-top: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb;">
                        내용입니다.내용입니다.내용입니다.<br>
                        내용입니다.내용입니다.내용입니다.<br>
                        내용입니다.내용입니다.내용입니다.<br>
                        내용입니다.내용입니다.내용입니다.<br>
                        내용입니다.내용입니다.내용입니다.
                    </p>

                    <!--본인 작성 글이 아닐 경우-->
                    <div class="flex aic g12 bsb pl16 pr16 mt20">
                        <button class="favor-box img-box w32" id="favor_btn">
                            <img th:src="@{/img/ico_heart.svg}" alt="">
                        </button>
                        <a th:href="@{/}" class="btn-type-1" style="width: calc(100% - 44px);">채팅하기</a>
                    </div>

                    <!--본인 작성 글-->
                    <div class="flex aic g12 bsb pl16 pr16 mt20">
                        <a th:href="@{/}" class="btn-type-1 w50per">수정하기</a>
                        <a th:href="@{/}" class="btn-type-1-2 w50per">삭제하기</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</html>