<html layout:decorate="~{/common/layout}">
<div layout:fragment="content">

    <div class="signup-area login-cnt-area w100per rel zi2">
        <div class="con w100per">
            <h1 class="title-text lh120 tb tac wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="0.6s">회원가입</h1>
            <div class="signup-box flex fdc wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.6s">
                <ul class="flex fdc g36">
                    <li>
                        <h3 class="c333 f18 tb mb16">아이디<span class="tb cCC0000 inblock">*</span></h3>
                        <div class="input-type-1">
                            <input type="text" placeholder="아이디">
                        </div>
                        <div class="error-text-box wsn flex g8 mt8">
                            <span class="error-text f14 cCC0000">필수 입력 항목 입니다.</span>
                            <span class="error-text f14 cCC0000">중복된 아이디 입니다.</span>
                            <span class="confirm-text f14 c009521">사용가능한 아이디 입니다.</span>
                        </div>
                    </li>
                    <li>
                        <h3 class="c333 f18 tb mb16">비밀번호<span class="tb cCC0000 inblock">*</span></h3>
                        <div class="input-type-1">
                            <input type="password" placeholder="비밀번호">
                        </div>
                        <div class="error-text-box wsn flex g8 mt8">
                            <span class="error-text f14 cCC0000">필수 입력 항목 입니다.</span>
                            <span class="error-text f14 cCC0000">사용할 수 없는 비밀번호 입니다.</span>
                            <span class="confirm-text f14 c009521">사용가능한 비밀번호 입니다.</span>
                        </div>
                        <div class="input-type-1 mt8">
                            <input type="password" placeholder="비밀번호 확인">
                        </div>
                        <div class="error-text-box wsn flex g8 mt8">
                            <span class="error-text f14 cCC0000">필수 입력 항목 입니다.</span>
                            <span class="error-text f14 cCC0000">비밀번호가 일치하지 않습니다.</span>
                            <span class="confirm-text f14 c009521">비밀번호가 일치합니다.</span>
                        </div>
                    </li>
                    <li>
                        <h3 class="c333 f18 tb mb16">이메일<span class="tb cCC0000 inblock">*</span></h3>
                        <div class="input-btn-box flex g8">
                            <div class="input-type-1">
                                <input type="text" placeholder="이메일">
                            </div>
                            <button type="button" class="btn-type-2">전송</button>
                        </div>
                        <div class="error-text-box wsn flex g8 mt8">
                            <span class="error-text f14 cCC0000">필수 입력 항목 입니다.</span>
                            <span class="error-text f14 cCC0000">올바른 이메일 형식이 아닙니다.</span>
                            <span class="error-text f14 cCC0000">이미 인증된 이메일 입니다.</span>
                            <span class="confirm-text f14 c009521">인증번호가 발송되었습니다.</span>
                        </div>
                        <div class="input-btn-box flex g8 mt8">
                            <div class="input-type-1">
                                <input type="text" placeholder="인증번호">
                            </div>
                            <button type="button" class="btn-type-2">확인</button>
                        </div>
                        <div class="error-text-box wsn flex g8 mt8">
                            <span class="error-text f14 cCC0000">필수 입력 항목 입니다.</span>
                            <span class="error-text f14 cCC0000">인증번호가 일치하지 않습니다.</span>
                            <span class="confirm-text f14 c009521">인증번호가 일치합니다.</span>
                        </div>
                    </li>
                    <li>
                        <h3 class="c333 f18 tb mb16">이름<span class="tb cCC0000 inblock">*</span></h3>
                        <div class="input-type-1">
                            <input type="text" placeholder="이름">
                        </div>
                        <div class="error-text-box wsn flex g8 mt8">
                            <span class="error-text f14 cCC0000">필수 입력 항목 입니다.</span>
                        </div>
                    </li>
                    <li>
                        <h3 class="c333 f18 tb mb16">생년월일<span class="tb cCC0000 inblock">*</span></h3>
                        <div class="date-type-1">
                            <input type="date">
                        </div>
                        <div class="error-text-box wsn flex g8 mt8">
                            <span class="error-text f14 cCC0000">필수 입력 항목 입니다.</span>
                        </div>
                    </li>
                    <li>
                        <h3 class="c333 f18 tb mb16">관심사<span class="tb cCC0000 inblock">*</span><span class="c999 f14 inblock ml4">최소 1개 다중 선택 가능</span></h3>
                        <ul class="interest-box flex aic fww g8">
                            <li>
                                <input type="checkbox" id="interest_1">
                                <label for="interest_1">
                                    <span class="text">핸드폰</span>
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" id="interest_2">
                                <label for="interest_2">
                                    <span class="text">테블릿</span>
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" id="interest_3">
                                <label for="interest_3">
                                    <span class="text">노트북</span>
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" id="interest_4">
                                <label for="interest_4">
                                    <span class="text">모니터</span>
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" id="interest_5">
                                <label for="interest_5">
                                    <span class="text">스마트워치</span>
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" id="interest_6">
                                <label for="interest_6">
                                    <span class="text">이어폰</span>
                                </label>
                            </li>
                        </ul>
                        <div class="error-text-box wsn flex g8 mt8">
                            <span class="error-text f14 cCC0000">필수 선택 항목 입니다.</span>
                        </div>
                    </li>
                </ul>
                <div class="check-text-type-2 mt100 flex aic">
                    <input type="checkbox" id="privacy">
                    <label for="privacy">
                        <span class="text">개인정보 수집 및 이용 동의</span>
                    </label>
                </div>
                <div class="error-text-box wsn flex g8 mt8">
                    <span class="error-text f14 cCC0000">필수 체크 항목 입니다.</span>
                </div>
                <button type="button" class="btn-type-1 mt40">회원가입</button>
            </div>
        </div>
    </div>

</div>
</html>
